.view-latest-stories { margin-top: 27px; border-top: solid 1px #f6f6f6; }
.view-latest-stories .wrapper { border-top: solid 1px #e7e7e7; }
.view-latest-stories .wrapper .heading { margin-top: 22px; }
.view-latest-stories .wrapper .heading h2 { color: #AFBFF0; font-size: 18px; font-weight: normal; }
.view-latest-stories .wrapper .heading .more-link { text-align: right; color: #5568B5; }
.view-latest-stories .wrapper .latest { margin-top: 22px; }
.view-latest-stories .wrapper .latest .views-field-field-image img { height: 130px; max-width: 282px; }
.view-latest-stories .wrapper .latest .views-field-title { margin-top: 12px; color: #2E45A8; font-size: 18px; }
.view-latest-stories .wrapper .latest .views-field-body { margin-top: 10px; font-size: 13px; }
