build:
  target: docroot
  build_file: build.make

# Custom commands. These are run after subtrees are updated and after the drush make
# rebuild runs, before any changes from drush make are committed.
postbuild-commands:
  - 'mkdir -p docroot/sites/all/modules/nucivic'
  - 'mkdir -p docroot/sites/all/themes/nucivic'
  - 'rm -rf docroot/sites/default;'
  - 'ln -s ../../assets/sites/default docroot/sites/default'
  - 'ln -s ../../../../../projects/data_disqus docroot/sites/all/modules/nucivic/data_disqus'
  - 'ln -s ../../../../../projects/data_story docroot/sites/all/modules/nucivic/data_story'
  - 'ln -s ../../../../../projects/data_workflow docroot/sites/all/modules/nucivic/data_workflow'
  - 'rm -rf docroot/sites/all/modules/nucivic/geo_file_entity'
  - 'ln -s ../../../../../projects/geo_file_entity docroot/sites/all/modules/nucivic/geo_file_entity'
  - 'ln -s ../../../../../projects/visualization_entity docroot/sites/all/modules/nucivic/visualization_entity'
  - 'ln -s ../../../../../projects/visualization_entity_charts docroot/sites/all/modules/nucivic/visualization_entity_charts'
  - 'ln -s ../../../../../projects/nucivic_data_demo_front docroot/sites/all/modules/nucivic/nucivic_data_demo_front'
  - 'ln -s ../../../../../projects/data_starter_install docroot/sites/all/modules/nucivic/data_starter_install'
  - 'ln -s ../../../../../projects/data_theme docroot/sites/all/themes/nucivic/nucivic_data'
  - 'cd docroot/profiles/dkan; find . -type f -name .gitignore -exec rm -rf {} \;'
  - 'cd docroot/sites/all/modules; find . -type f -name .gitignore -exec rm -rf {} \;'
  - 'cd docroot/sites/all/libraries; find . -type f -name .gitignore -exec rm -rf {} \;'

subtrees:
  data_disqus:
    path: data_disqus
    uri: 'git@github.com:nucivic/data_disqus.git'
    branch: master
    message: 'data_disqus subtree from git@github.com:nucivic/data_disqus.git'
  data_story:
    path: data_story
    uri: 'git@github.com:nucivic/data_story.git'
    branch: master
    message: 'data_story subtree from git@github.com:nucivic/data_story.git'
  data_theme:
    path: data_theme
    uri: 'git@github.com:nucivic/data_theme.git'
    branch: master
    message: 'data_theme subtree from git@github.com:nucivic/data_theme.git'
  data_workflow:
    path: data_workflow
    uri: 'git@github.com:nucivic/data_workflow.git'
    branch: master
    message: 'data_workflow subtree from git@github.com:nucivic/data_workflow.git'
  geo_file_entity:
    path: geo_file_entity
    uri: 'git@github.com:nucivic/geo_file_entity.git'
    branch: master
    message: 'geo_file_entity subtree from git@github.com:nucivic/geo_file_entity.git'
  visualization_entity:
    path: visualization_entity
    uri: 'git@github.com:nucivic/visualization_entity.git'
    branch: master
    message: 'visualization_entity subtree from git@github.com:nucivic/visualization_entity.git'
  visualization_entity_charts:
    path: visualization_entity_charts
    uri: 'git@github.com:NuCivic/visualization_entity_charts.git'
    branch: master
    message: 'visualization_entity_charts subtree from git@github.com:nucivic/visualization_entity_charts.git'
