build:
  target: docroot
  build_file: build.make

# Custom commands. These are run after subtrees are updated and after the drush make
# rebuild runs, before any changes from drush make are committed.
postbuild-commands:
  - 'mkdir -p docroot/sites/all/modules/nucivic'
  - 'mkdir -p docroot/sites/all/themes/nucivic'
  - 'rm -rf docroot/sites/default;'
  - 'ln -s ../../assets/sites/default docroot/sites/default'
  - 'ln -s ../../../../../projects/data_disqus docroot/sites/all/modules/nucivic/data_disqus'
  - 'ln -s ../../../../../projects/data_story docroot/sites/all/modules/nucivic/data_story'
  - 'ln -s ../../../../../projects/data_workflow docroot/sites/all/modules/nucivic/data_workflow'
  - 'ln -s ../../../../../projects/data_theme docroot/sites/all/themes/nucivic/nucivic_data'
  - 'ln -s ../../../../../projects/geo_file_entity docroot/sites/all/themes/nucivic/geo_file_entity'
  - 'ln -s ../../../../../projects/visualization_entity docroot/sites/all/themes/nucivic/visualization_entity'
  - 'rm docroot/profiles/dkan/.gitignore'
  - 'rm docroot/profiles/dkan/libraries/Leaflet/.gitignore'

subtrees:
  dkan:
    path: dkan
    uri: 'git@github.com:NuCivic/dkan.git'
    branch:  7.x-1.x
    message: 'dkan subtree from git@github.com:NuCivic/dkan.git'
  data_disqus:
    path: data_disqus
    uri: 'git@github.com:nucivic/data_disqus.git'
    branch: master
    message: 'data_disqus subtree from git@github.com:nucivic/data_disqus.git'
  data_story:
    path: data_story
    uri: 'git@github.com:nucivic/data_story.git'
    branch: master
    message: 'data_story subtree from git@github.com:nucivic/data_story.git'
  data_theme:
    path: data_theme
    uri: 'git@github.com:nucivic/data_theme.git'
    branch: master
    message: 'data_theme subtree from git@github.com:nucivic/data_theme.git'
  data_workflow:
    path: data_workflow
    uri: 'git@github.com:nucivic/data_workflow.git'
    branch: master
    message: 'data_workflow subtree from git@github.com:nucivic/data_workflow.git'
  geo_file_entity:
    path: geo_file_entity
    uri: 'git@github.com:nucivic/geo_file_entity.git'
    branch: master
    message: 'geo_file_entity subtree from git@github.com:nucivic/geo_file_entity.git'
  visualization_entity:
    path: visualization_entity
    uri: 'git@github.com:nucivic/visualization_entity.git'
    branch: master
    message: 'visualization_entity subtree from git@github.com:nucivic/visualization_entity.git'
