// Frontpage
@media all and (min-width:768px) {
  .panel-top {
    background-position-y: 30%;
    min-height: 300px;
    .container {
      padding: 60px 0 0;
    }
  }

  .front {
    .panel-top {
      .container {
        padding: 60px 0 0;
      }
    }
  }
}

// Data Story
.view-latest-stories {
  margin-top:27px;
  border-top: solid 1px rgb(246, 246, 246);
  .wrapper {
    border-top: solid 1px rgb(231, 231, 231);
    .heading {
      margin-top:22px;
      h2 {
        font-size: 18px;
        font-weight: normal;
      }
      .more-link {
        text-align: right;
      }
    }
    .latest {
      .views-field-field-image img {
        height: 130px;
        max-width: 282px;
      }
      margin-top:22px;
      .views-field-title {
        margin-top:12px;
        color: #2E45A8;
        font-size:18px;
      }
      .views-field-body {
        margin-top:10px;
        font-size:13px;
      }
    }
  }
}
