// Frontpage
@media all and (min-width:768px) {
  .panel-top {
    background-position-y: 30%;
    min-height: 300px;
    .container {
      padding: 60px 0 0;
    }
  }

  .front {
    .panel-top {
      .container {
        padding: 60px 0 0;
      }
      .inside {
        h4 {
          color: #fff;
          font-size: 1.5em;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
        }
      }
    }
  }
}

// Data Story
.view-latest-stories {
  margin-top:27px;
  border-top: solid 1px rgb(246, 246, 246);

  .heading {
    margin-top:22px;
    h2 {
      font-size: 18px;
      font-weight: normal;
    }
    .more-link {
      text-align: right;
    }
  }

  .views-field-field-image img {
    max-width: none;
    width: 100%;
    display: block;
    height: auto;
    margin: 0 auto 5px;
  }

  .views-field-title {
    margin-top:12px;
  }

  .views-field-body {
    margin-top:10px;
    font-size:13px;
  }
}
