.progress-info{
  position: absolute;
  z-index: 99999;
  background: gold;
  font-size: 11px;
  padding: 1px;
  padding-right: 4px;
  padding-left: 4px;
  border-radius: 3px;
  left: 50%;
  margin-left: -162px;
  font-weight: bold;
  box-shadow: 0px 3px 7px #aaa;
}
