a.logo img { height: 50px !important; }

#featured { background-color: #3B67B0; background-position: 50% 0; padding-top: 5em !important; padding-bottom: 5em !important; }
#featured .tint { display: none; }
#featured #block-views-popular-tags-block .block-content { margin: 10px 0; }
#featured .col-md-6 .block { padding: 0 35px; }

#block-dkan-sitewide-demo-front-dkan-search-front .block-content { -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; padding: 15px; color: white; background: white; width: 100%; margin: 0; }
#block-dkan-sitewide-demo-front-dkan-search-front .block-content #views-exposed-form-dataset-page { width: 100%; }
#block-dkan-sitewide-demo-front-dkan-search-front .block-content #views-exposed-form-dataset-page input.form-control { width: 100%; }

.page-groups article.node-teaser { height: 425px; padding: 0 20px; text-align: center; }
.page-groups article.node-teaser .field-name-field-image img { border: none; }

#views-exposed-form-stories-page .views-exposed-form .views-exposed-widget .form-submit { margin-top: 0; }

@media (min-width: 768px) { #nav-wrapper #block-dkan-sitewide-dkan-sitewide-search-bar { margin-right: 120px; }
  #block-dkan-sitewide-dkan-sitewide-user-menu { right: 80px; }
  #nav-wrapper .navbar-default .logo { padding: 10px 10px 0 15px; } }
#nav-wrapper .navbar-default .navbar-brand { color: #3b67b0; }

#nav-wrapper .navbar-default .navbar-nav li > a { color: #3b67b0; }

.nav-pills li a, .tabs--primary li a { color: #3b67b0; }

.nav-pills li a.active, .nav-pills li.active a:hover, .nav-pills li.active a:focus, .tabs--primary li a.active { border: 1px solid #3b67b0; background: #3b67b0; }

.view-group-block .views-field-nid a, .btn-primary { background-color: #3b67b0; border: 1px solid #3b67b0; }

.region-sidebar-first .block-facetapi ul li.leaf a:hover, .block-facetapi ul li.leaf a:hover { color: #3b67b0; }
