/* Move to dkan global stylesheet*/
.file-widget input.btn {
	margin-left: 10px;
}
/* Move to dkan global stylesheet*/

.field-name-field-ve-settings {
  display: none;
}
#chart-with-controls .tab-content {
  overflow: hidden;
}
#iframe-shell {
  overflow: hidden;
}
svg {
  width: auto;
  height: auto;
  display: block;
}

#ve-chart-form .pane-content{
  overflow: auto;
}

#ve-chart-form .stages li {
  width: 25%;
}

.nvtooltip table * {
  border: none;
}

#chart-selector {
  width: 100%;
  overflow: auto;
  padding: 0px;
}
#chart-selector li{
  height: 180px;
  width: 260px;
  background-size: 260px 180px;
  float: left;
  list-style: none;
  margin-right: 15px;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.relative {
  position: relative;
}
#chart-selector li:hover {
  border-color: #0088cc;
  cursor: pointer;
}

#chart-selector li.selected {
  border-color: #0088cc;
}

#chart-selector .discreteBarChart {
  background-image: url('img/discretebar.png');
}

#chart-selector .multiBarChart {
  background-image: url('img/stackedbar.png');
}

#chart-selector .stackedAreaChart {
  background-image: url('img/stackedarea.png');
}

#chart-selector .pieChart {
  background-image: url('img/pie.png');
}

#chart-selector .lineChart {
  background-image: url('img/line.png');
}

#chart-selector .lineWithFocusChart {
  background-image: url('img/linewithfocus.png');
}

#chart-selector .scatterChart {
  background-image: url('img/scatter.png');
}

#chart-selector .linePlusBarChart {
  background-image: url('img/lineplusbar.png');
}