// Variables
// -----------------------------------------------------------------------------
$ddh-brand-light: 	#f2f9ff; // lt. baby blue
$ddh-brand-dark: 		#0c2444; // dk. blue
$ddh-brand-pop: 		#ffde79; // yellow-gold
$ddh-brand-primary:	#27cce7; // bright blue
$ddh-link:					#055999; // link color

// Grays
// -----------------------------------------------------------------------------

$gray:                   lighten(#000, 33.5%) !default; // #555
$ddh-gray1: #fbfbfb; // lower region background
$ddh-gray2: #f7f7f7; // footer background
$ddh-gray3: #e5e5e5; // borders - light
$ddh-gray4: #999999; // labels
$ddh-gray5: #666666; // text
$ddh-gray6: #818181; // icons, footer links
$ddh-gray7: #adadad; // borders - dark
$ddh-gray8: #2c2c2c; // titles

// Iconography
// -----------------------------------------------------------------------------

$icon-fa:    'FontAwesome';
